

body{
  background-color: #282828;
  font-family: 'Raleway', sans-serif, Georgia, Times serif;
  font-weight:300;
  font-size: 16px;
  color: rgb(110, 110, 110);
  letter-spacing: 1px;
}
#topBanner {
  width: 110%;
  height: 50px;
  background-color: white;
  margin: -10px 0px 0 -10px;
  text-align: center;
}
.TopBannerText{
  padding-top: 9px;
  font-style: italic;
  font-size: 12px;
}

#Master{
  width: 960px;
  margin-left: auto; margin-right: auto; /*I want my Master centered*/
  border: 1px solid red;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: -10px;
}

#Logo{
padding-top: 3px;
  width: 187px;
  height:  79px;
  float:left;

}
.LogoImage{
  width: 100%;
  height: auto;
}

nav {
  border: 1px solid #dcdcc8;
  width:960px;
  height:80px;
  text-align: right;
}
nav ul {
margin: 0;
padding: 0;
text-align: right;
padding-top: 30px;
padding-right: 20px;

}
nav li {
  color:#dcdcc8;
  display: inline;
  text-transform: uppercase;
  margin-right: 10px;
}

.MainPhotoContainer{
  width: 940px;
  height: auto;
}
.article1, .article2{
  background-color: #f7f3ea;
  width: 940px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border: 1px solid #f7f3ea;
}
.article2{
  margin-top: 515px;
}
.FeatureBox {
  background-color: #eadec6;
  width: 293px;
  float:left;
  margin-right: 10px;
  padding: 10px;
}
.FeatureBoxImage {
  background-color: white;
  width: 292px;
  height: 230px;
  margin: 0 auto;
  margin-bottom: 10px;
}
footer{
  width: 960px;
  height: 195px;
  clear:both;  /*It clears it from any floats*/
  margin: 0 auto;
  border: 1px solid red;
  padding-bottom: 25px;
}
h1{
  text-align: center;
  padding-top: 20px;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: rgb(179, 174, 174);
  letter-spacing: 2px;
}
h2{
text-transform: uppercase;
}
h3{
  font-size: 18px;
}
h2,h3{
  color: rgb(65, 65, 65);
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}
.FooterTitle{
  color:#dcdcc8;
  font-weight: 300;
  font-style: oblique;
}
.LocationBox, .HoursBox, .divider{
  float: left;
}
.LocationBox, .HoursBox{
  width: 49.9%;
  text-align: center;
  color: rgb(179, 174, 174);
  font-size: 14px;
}
.divider{
  width: 0.2%;
  height: 100%;
  background-color: #dcdcc8;
}
.horizontalLine {
  width:50%;
}

p {
  line-height: 25px;
}
.menuParagraph{
  text-align: center;
}
.italicParagraph{
  font-style: italic;
  font-weight: bold;
  line-height: 30px;
  padding: 0 20px;
  color: rgb(179, 174, 174);
}
.bold{
  font-weight: 700;
}
