/* /// LAYOUT /// */


body{
  background-color: #282828;
  font-family: 'Raleway', sans-serif, Georgia, Times serif;
  font-weight:300;
  font-size: 16px;
  color: rgb(110, 110, 110);
  letter-spacing: 1px;
}

#topBanner, #bottomBanner{
  height: 50px;
  background-color: white;
  margin: -9px;
  text-align: center;
}
#topBanner{
  top:0;
  position:fixed;
}
#bottomBanner{
  margin-bottom: 0px;
}
.TopBannerText, .bottomBannerText{
  padding-top: 9px;
  font-style: italic;
  font-size: 12px;
}
#Master{
  width: 320px;
  margin-left: auto; margin-right: auto; /*I want my Master centered*/
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: -10px;
}
#Logo{
  padding-top: 3px;
  width: 179px;
  height:  71px;
  margin-right: auto;
  margin-left: auto;

}
.LogoImage{
  width: 95%;
  height: auto;
}
nav {
  width:320px;
  height:80px;
  text-align: right;
  top:0;
  margin-top: 40px;
  background-color: #282828;
}
#Master nav ul {
margin: 0;
padding: 0;
text-align: right;
padding-top: 30px;
padding-right: 20px;
}
#Master nav li {
  color:#dcdcc8;
  display: inline;
  text-transform: uppercase;
  margin-right: 10px;
}
#Master nav a{
  color: #dcdcc8;
  text-decoration: none;
}
/* mouse over */
#Master nav a:hover {
  color: #aaaa8f;
}
#Master nav a.selected {
  text-decoration: underline;
}
#Master nav a:active {
  color: black;
}
.MainPhotoContainer{
  display: none;
}
.MainPhotoContainer img{
  margin-left: -11px;
  margin-bottom: -23px;
  display: none;
}
.article1, .article2, .Menu, #SectionAbout, #LocationBox, #ContactBox{
  background-color: #f7f3ea;
  width: 308px;
  height: auto;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border: 1px solid #f7f3ea;
}
.FeatureBox{
  background-color: #eadec6;
  width: 291px;
  float:right;
  margin-right: 10px;
  padding: 10px;
  margin-bottom: 50px;
  margin: 0 auto;
  margin-top: 9px;
}
.FeatureBoxImage{
  background-color: #eadec6;
  width: 292px;
  height: auto;
  margin-bottom: 15px;
}
div .one{
  margin-bottom: 45px;
}

footer{
  width: 320px;
  height: 195px;
  clear:both;  /*It clears it from any floats*/
  margin: 0 auto;
  padding-bottom: 7px;
}
.MainSectionTitle{
  padding-top: 30px;
}
.FooterTitle{
  color:#dcdcc8;
  font-weight: 300;
  font-style: oblique;
}
.LocationBox, .HoursBox{
  width: 102%;
  text-align: center;
  color: rgb(179, 174, 174);
  font-size: 14px;
}

.horizontalLine {
  width:50%;
}
.menuParagraph, .GoToMenu{
  text-align:justify;
}
.italicParagraph{
  font-style: italic;
  font-weight: bold;
  line-height: 30px;
  padding: 0 45px;
  color: rgb(140, 122, 122);
}
.FeatureBox .GoToMenu{
  text-align: center;
}
#PhotoSlider{
  width:320px;
  height: auto;
  border: 5px solid rgb(85, 79, 79);
  margin: 0 auto;
  background-color: #d4c6a9;
  margin-bottom: 9px;
  padding-bottom: 9px;
  padding-top: 9px;


}
#PhotoSlider img{
  width:270px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.menuBoxes{
  margin: 0 auto;
  margin-top: 66px;
  height:auto;
}
.foodList {
  margin-top: 33px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.FullParagraph{
  padding: 0 15px 0 15px;
  text-align:justify;
}
.TopTitleMargin{
  margin-top: 55px;
}
#LocationMap{
  width:600px;
  height: 300px;
  margin-left: 170px;
  border: 1px solid rgb(85, 79, 79);
  margin-top: 43px;
  margin-bottom: 43px;
}
/* /// TEXT FORMATING /// */
.TestimonialName{
  font-style: normal;
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.SectionTitle, .slideMenu {
  margin-top: 45px;
}
.bold{
  font-weight: 700;
}
p {
  line-height: 25px;
}
h2, .h2x {
  text-transform: uppercase;
}
.h2x {
  letter-spacing: 0px;
  font-size: 21px;
  margin-top: 33px;
}
h3{
  font-size: 18px;
}
h2,h3{
  color: rgb(65, 65, 65);
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}
h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: rgb(179, 174, 174);
  letter-spacing: 3px;
}
#BottomNavbar{
  width:90px;
  height:90px;
  background-color: rgb(65, 65, 65);
  margin: 0 auto;
  text-align: center;
  border-radius:200px;
  margin-bottom: 23px;
  text-decoration: none;
  margin-top: 209px;
}
#BottomNavbar .arrow{
  font-size: 28px;
  color:#dcdcc8;
  text-decoration: none;
  padding-top: 33px;
}
/* mouse over */
#BottomNavbar:hover{
  background-color: rgb(83, 82, 82);
}
#BottomNavbar .arrow:active {
  color: black;
}



/*MEDIA QUERY FOR DESKTOP*/

@media only screen and (min-width: 768px) {

#Master{
  width: 960px;
  margin-left: auto; margin-right: auto; /*I want my Master centered*/
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: -10px;
}
#Logo{
  padding-top: 3px;
  width: 187px;
  height:  79px;
  float:left;
}
.LogoImage{
  width: 100%;
  height: auto;
  background-color: red; /* ONLY FOR TESTING QUERY. REMOVE*/
}
nav {
  width:960px;
  height:80px;
  text-align: right;
  top:0;
  margin-top: 40px;
  background-color: #282828;
}
#Master nav ul {
margin: 0;
padding: 0;
text-align: right;
padding-top: 30px;
padding-right: 20px;
}
#Master nav li {
  color:#dcdcc8;
  display: inline;
  text-transform: uppercase;
  margin-right: 10px;
}
#Master nav a{
  color: #dcdcc8;
  text-decoration: none;
}
/* mouse over */
#Master nav a:hover {
  color: #aaaa8f;
}
#Master nav a.selected {
  text-decoration: underline;
}
#Master nav a:active {
  color: black;
}
.MainPhotoContainer{

  width: 940px;
  height: auto;
}
.MainPhotoContainer img{
  margin-left: -11px;
  margin-bottom: -23px;
}
.article1, .article2, .Menu, #SectionAbout, #LocationBox, #ContactBox{
  background-color: #f7f3ea;
  width: 939px;
  height: auto;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border: 1px solid #f7f3ea;
}


.FeatureBox{
  background-color: #eadec6;
  width: 293px;
  float:left;
  margin-right: 10px;
  padding: 10px;
  margin-bottom: 50px;
}
.FeatureBoxImage{
  background-color: white;
  width: 292px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}
footer{
  width: 960px;
  height: 195px;
  clear:both;  /*It clears it from any floats*/
  margin: 0 auto;
  padding-bottom: 7px;
}
.MainSectionTitle{
  padding-top: 30px;
}
.FooterTitle{
  color:#dcdcc8;
  font-weight: 300;
  font-style: oblique;
}
.LocationBox, .HoursBox{
  width: 49.9%;
  text-align: center;
  color: rgb(179, 174, 174);
  font-size: 14px;
}
.LocationBox{
  float:right;
}
.divider{
  width: 0.2%;
  height: 200px;
  background-color: #dcdcc8;
}
.horizontalLine {
  width:50%;
}
.menuParagraph, .GoToMenu{
  text-align: center;
}
.italicParagraph{
  font-style: italic;
  font-weight: bold;
  line-height: 30px;
  padding: 0 45px;
  color: rgb(140, 122, 122);
}

#PhotoSlider{
  width:960px;
  height: auto;
  border: 1px solid rgb(85, 79, 79);
  margin: 0 auto;
  margin-top: 0px;
  background-color: #d4c6a9;
  margin-bottom: 9px;
}
#PhotoSlider img{
  width:94%;
  height: auto;
  margin-top: 13px;
  margin-bottom: 7px;
  margin-left: 31px;
}
.menuBoxes{
  margin: 0 auto;
  margin-top: 66px;
  height:auto;
}
.foodList {
  margin-top: 33px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.FullParagraph{
  padding: 0 15px 0 15px;
  text-align:justify;
}
.TopTitleMargin{
  margin-top: 55px;
}
#LocationMap{
  width:600px;
  height: 300px;
  margin-left: 170px;
  border: 1px solid rgb(85, 79, 79);
  margin-top: 43px;
  margin-bottom: 43px;
}
/* /// TEXT FORMATING /// */
.TestimonialName{
  font-style: normal;
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.SectionTitle, .slideMenu {
  margin-top: 45px;
}
.bold{
  font-weight: 700;
}
p {
  line-height: 25px;
}
h2, .h2x {
  text-transform: uppercase;
}
.h2x {
  letter-spacing: 0px;
  font-size: 21px;
  margin-top: 33px;
}
h3{
  font-size: 18px;
}
h2,h3{
  color: rgb(65, 65, 65);
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}
h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: rgb(179, 174, 174);
  letter-spacing: 3px;
}
#BottomNavbar{
  width:90px;
  height:90px;
  background-color: rgb(65, 65, 65);
  margin: 0 auto;
  text-align: center;
  border-radius:200px;
  margin-bottom: 23px;
  text-decoration: none;
}
#BottomNavbar .arrow{
  font-size: 28px;
  color:#dcdcc8;
  text-decoration: none;
  padding-top: 33px;
}
/* mouse over */
#BottomNavbar:hover{
  background-color: rgb(83, 82, 82);
}
#BottomNavbar .arrow:active {
  color: black;
}
}/*It closes media query*/
