body{
  background-color: #282828;
}
header{
  width: 960px;
  height: 150px;
  border: 1px solid #dcdcc8;
}
nav {
  border: 1px solid #dcdcc8;
  width:960px;
  height:50px;
}
article{
  background-color: #f7f3ea;
  width: 960px;
  height: 500px;
}
.FeatureBox {
  background-color: #eadec6;
  width: 310px;
  height: 400px;
  float:left;
}
footer{
  border: 1px solid #dcdcc8;
  width: 960px;
  height: 50px;
  clear:both;  /*It clears it from any floats*/
}
#Master{
  width: 960px;
  margin-left: auto; margin-right: auto;
}
